# Ignorer tous les fichiers et dossiers
*

# Ne pas ignorer le dossier src et son contenu
!/src/
!/src/**

# Ignorer les fichiers et dossiers spécifiques aux environnements de développement
### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
.nb-gradle/
# Aucune exception pour NetBeans, car tout doit être ignoré.

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
